
@{
    ViewData["Title"] = "Home";
}

<link href="/css/styles.css" rel="stylesheet" />

<div class="text-center">
    <h1>Welcome to the FoC Potluck Series!</h1>

    <a class="nav-link text-dark" asp-area="" asp-controller="FoCPotluck" asp-action="RSVP">RSVP Page</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="FoCPotluck" asp-action="BringADish">Bring A Dish Page</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="FoCPotluck" asp-action="Index">Team Members Attending</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="FoCPotluck" asp-action="ListAllDishes">See All Dishes</a>
</div>

